body {
  padding: 0;
  margin: 0;
  background-color: black;
}

a.mapboxgl-ctrl-logo {
  display: none !important;
}

.main {
	display: flex;
	flex-flow: row;
}

.left {
}

.right {
}

#mapvis {
	width: inherit;
}

#mapvis > .mapboxgl-map {
	width: 100%;
	height: 100%;
}

#market {
	display: block;
/*	width: 50vw;
*/}

#chat {
	position: fixed;
	left: 50px;
	bottom: 120px;
	display: block;
	z-index: 1;
	color: white;
	font: 12px Courier, sans-serif;
	max-width: 30vw;
}

#form {
	position: fixed;
	left: 50px;
	bottom: 20px;
	display: block;
	z-index: 1;
}

#userChat.input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
